In [1]:
#Step_0:
import pandas as pd
import numpy as np
import re
energy= pd.read_excel('data/Energy Indicators.xls', skiprows=16, skipfooter=38, usecols=[2,3,4,5,6])
energy=energy.rename(columns={'Renewable Electricity Production':'% Renewable', 'Unnamed: 2':'Country'})
energy["Energy Supply"]=1000000*energy["Energy Supply"]
energy['Energy Supply'][0]= 'Gigajoules'
energy=energy.replace('\.+' , np.NaN , regex=True)
energy=energy.replace({'Country':{"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region":"Hong Kong" }}, regex=True)
energy

,Country,Energy Supply,Energy Supply per capita,% Renewable
0,NaN,Gigajoules,Gigajoules,%
1,Afghanistan,321000000,10,78.6693
2,Albania,102000000,35,100
3,Algeria,1959000000,51,0.55101
4,American Samoa,NaN,NaN,0.641026
...,...,...,...,...
223,Viet Nam,2554000000,28,45.3215
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344000000,13,0
226,Zambia,400000000,26,99.7147
227,Zimbabwe,480000000,32,52.5361

In [2]:
rows=energy.loc[energy['Country'] == 'South Korea' ]
rows

         Country Energy Supply Energy Supply per capita % Renewable
165  South Korea   11007000000                      221     2.27935

In [3]:
print(type(energy['Country']))

<class 'pandas.core.series.Series'>

In [4]:
def cleaning(text):
    my_lst=[]
    flag= False
    if type(text) == float: #this condition is necessary to make sure 
        #that the NaN values are skipped from being used in itteration
        clean_text=text
    else:
        for charac in text:
            if charac.isalpha() == False and charac != ' ' :
                flag= True #found a  character which is not an alpha and not a space, then stop itterating
            if(flag == False):
                my_lst.append(charac)
        clean_text=''.join(my_lst)
    return clean_text

In [5]:
cleaning('hello guys(df)')

'hello guys'

In [6]:
#energy['Country']=energy['Country'].apply(cleaning)
print(type(energy['Country']))
print (len(energy['Country']))

for i in range(len(energy['Country'])):
    energy['Country'][i]=cleaning(energy['Country'][i])
    print(energy['Country'][i])

<class 'pandas.core.series.Series'>
228
nan
Afghanistan
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bonaire
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Chile
China
Hong Kong
China
Colombia
Comoros
Congo
Cook Islands
Costa Rica
CÃ´te d
Croatia
Cuba
CuraÃ§ao
Cyprus
Czech Republic
Democratic People
Democratic Republic of the Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Faeroe Islands
Falkland Islands
Fiji
Finland
France
French Guiana
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guernsey
Guinea
Guinea
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jersey
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Lao People
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mexico
Micronesia
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
Northern Mariana Islands
Norway
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
South Korea
Republic of Moldova
RÃ©union
Romania
Russian Federation
Rwanda
Saint Helena
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
State of Palestine
Sudan
Suriname
Swaziland
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Thailand
The former Yugoslav Republic of Macedonia
Timor
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States
United States Virgin Islands
Uruguay
Uzbekistan
Vanuatu
Venezuela
Viet Nam
Wallis and Futuna Islands
Yemen
Zambia
Zimbabwe

In [7]:
#checking that step 0 is working:
rows=energy.loc[energy['Country'] == 'Republic of Korea' ]
print(rows)
rows=energy.loc[energy['Country'] == 'United States of America' ]
print(rows)
rows=energy.loc[energy['Country'] == 'United Kingdom of Great Britain and Northern Ireland' ]
print(rows)
rows=energy.loc[energy['Country'] == 'China, Hong Kong Special Administrative Region' ]
print(rows)

#modified names of countries

rows=energy.loc[energy['Country'] == 'South Korea' ]
print(rows)
rows=energy.loc[energy['Country'] == 'United States' ]
print(rows)
rows=energy.loc[energy['Country'] == 'United Kingdom' ]
print(rows)
rows=energy.loc[energy['Country'] == 'Hong Kong' ]
print(rows)

rows=energy.loc[energy['Country'] == 'Switzerland17' ]
print(rows)

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per capita, % Renewable]
Index: []
Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per capita, % Renewable]
Index: []
Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per capita, % Renewable]
Index: []
Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per capita, % Renewable]
Index: []
         Country Energy Supply Energy Supply per capita % Renewable
165  South Korea   11007000000                      221     2.27935
           Country Energy Supply Energy Supply per capita % Renewable
217  United States   90838000000                      286      11.571
            Country Energy Supply Energy Supply per capita % Renewable
215  United Kingdom    7920000000                      124     10.6005
      Country Energy Supply Energy Supply per capita % Renewable
44  Hong Kong     585000000                       82           0
Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per capita, % Renewable]
Index: []

In [8]:
rows=energy.loc[energy['Country'] == 'China' ]
print(rows)

   Country Energy Supply Energy Supply per capita % Renewable
43   China  127191000000                       93     19.7549
45   China      47000000                       83           0

In [9]:
energy.drop_duplicates(subset="Country",keep='first',inplace=True)
rows=energy.loc[energy['Country'] == 'China' ]
print(rows)

   Country Energy Supply Energy Supply per capita % Renewable
43   China  127191000000                       93     19.7549

In [10]:
#step_1:
GDP = pd.read_csv('data/world_bank.csv', skiprows=4)
#GDP_c= GDP.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name="Years")
#GDP_c
GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [11]:
GDP= GDP.replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"})
GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [12]:
#to make sure that the replacement occured correctly
rows= GDP.loc[GDP['Country Name'] == 'South Korea']
rows

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
123,South Korea,KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,2.964966e+10,3.247578e+10,3.493136e+10,3.674434e+10,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12

In [13]:
#step_2:
ScimEn=pd.read_excel('data/scimagojr-3.xlsx')
ScimEn.head(20)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102
16,17,Turkey,5879,5827,91857,23165,15.62,104
17,18,Norway,5675,5634,32693,6024,5.76,74
18,19,Netherlands,5170,5105,48351,6067,9.35,85
19,20,Sweden,4565,4494,57889,9632,12.68,95

In [14]:
#Step_3:
joined_tab_1=pd.merge(ScimEn,energy, on='Country', how='left')
#joined_tab_1.set_index('Rank', inplace=True)
joined_tab_1.head(20)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549
1,2,United States,96661,94747,792274,265436,8.20,230,90838000000,286,11.571
2,3,Japan,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887
5,6,Canada,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454
6,7,Germany,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015
7,8,India,15005,14841,128763,37209,8.58,115,33195000000,26,14.9691
8,9,France,13153,12973,130632,28601,9.93,114,10597000000,166,17.0203
9,10,South Korea,11983,11923,114675,22595,9.57,104,11007000000,221,2.27935
10,11,Italy,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672
11,12,Spain,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686
12,13,Iran,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108
14,15,Brazil,8668,8596,60702,14396,7.00,86,12149000000,59,69.648
15,16,Taiwan,6468,6441,86099,14768,13.31,102,NaN,NaN,NaN
16,17,Turkey,5879,5827,91857,23165,15.62,104,4897000000,64,28.5367
17,18,Norway,5675,5634,32693,6024,5.76,74,1388000000,273,97.6356
18,19,Netherlands,5170,5105,48351,6067,9.35,85,3199000000,190,6.32466
19,20,Sweden,4565,4494,57889,9632,12.68,95,2044000000,212,46.5985

In [15]:
joined_tab= pd.merge(joined_tab_1,GDP, left_on='Country',right_on='Country Name', how='left' )
joined_tab.head(20)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.70,138,127191000000,93,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,United States,96661,94747,792274,265436,8.20,230,90838000000,286,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3,Japan,30504,30287,223024,61554,7.31,134,18984000000,149,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7920000000,124,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,30709000000,214,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,6,Canada,17899,17620,215003,40930,12.01,149,10431000000,296,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,7,Germany,17027,16831,140566,27426,8.26,126,13261000000,165,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,8,India,15005,14841,128763,37209,8.58,115,33195000000,26,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,9,France,13153,12973,130632,28601,9.93,114,10597000000,166,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,10,South Korea,11983,11923,114675,22595,9.57,104,11007000000,221,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,11,Italy,10964,10794,111850,26661,10.20,106,6530000000,109,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
11,12,Spain,9428,9330,123336,23964,13.08,115,4923000000,106,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,13,Iran,8896,8819,57470,19125,6.46,72,NaN,NaN,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,5386000000,231,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
14,15,Brazil,8668,8596,60702,14396,7.00,86,12149000000,59,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
15,16,Taiwan,6468,6441,86099,14768,13.31,102,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Turkey,5879,5827,91857,23165,15.62,104,4897000000,64,...,6.680034e+11,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11
17,18,Norway,5675,5634,32693,6024,5.76,74,1388000000,273,...,4.190512e+11,4.313284e+11,4.329860e+11,4.259607e+11,4.285247e+11,4.326762e+11,4.445694e+11,4.490094e+11,4.589539e+11,4.662883e+11
18,19,Netherlands,5170,5105,48351,6067,9.35,85,3199000000,190,...,8.127830e+11,8.428435e+11,8.571640e+11,8.248696e+11,8.364397e+11,8.503550e+11,8.413664e+11,8.371985e+11,8.456636e+11,8.624973e+11
19,20,Sweden,4565,4494,57889,9632,12.68,95,2044000000,212,...,4.726099e+11,4.887020e+11,4.859797e+11,4.607834e+11,4.883793e+11,5.013917e+11,4.999562e+11,5.061616e+11,5.176362e+11,5.388264e+11

In [16]:
#taking the first 11 columns, and the last 10 columns for the last 10 years (2006, 2015):
filtered_joined_tab=pd.concat([joined_tab.iloc[ : , 0:11],joined_tab.iloc[ : , 61:71]], axis=1)
filtered_joined_tab

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.70,138,127191000000,93,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,United States,96661,94747,792274,265436,8.20,230,90838000000,286,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3,Japan,30504,30287,223024,61554,7.31,134,18984000000,149,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7920000000,124,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,30709000000,214,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0,34000000,45,...,1.919759e+09,2.054533e+09,2.095143e+09,2.164673e+09,2.259288e+09,2.382129e+09,2.496863e+09,2.627240e+09,2.728150e+09,2.810153e+09
187,188,Christmas Island,1,1,0,0,0.00,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,189,Reunion,1,1,2,1,2.00,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,190,Saint Lucia,1,1,0,0,0.00,0,6000000,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,191,Mauritania,1,1,1,0,1.00,1,51000000,13,...,4.025616e+09,4.139051e+09,4.183751e+09,4.140153e+09,4.337792e+09,4.541844e+09,4.805048e+09,5.097687e+09,5.312107e+09,NaN

In [17]:
#my_tab=joined_tab[['Country','Rank', 'Documents', 'Citable documents', 'Citations', 
# 'Self-citations', 'Citations per document', 'H index', 
 #'Energy Supply','Energy Supply per capita', '% Renewable',
 #'Years','value']]
saved_copy=filtered_joined_tab
saved_copy=saved_copy.loc[saved_copy['Rank']<=15]
saved_copy

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.70,138,127191000000,93,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,United States,96661,94747,792274,265436,8.20,230,90838000000,286,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3,Japan,30504,30287,223024,61554,7.31,134,18984000000,149,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7920000000,124,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,30709000000,214,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,6,Canada,17899,17620,215003,40930,12.01,149,10431000000,296,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,7,Germany,17027,16831,140566,27426,8.26,126,13261000000,165,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,8,India,15005,14841,128763,37209,8.58,115,33195000000,26,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,9,France,13153,12973,130632,28601,9.93,114,10597000000,166,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,10,South Korea,11983,11923,114675,22595,9.57,104,11007000000,221,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,11,Italy,10964,10794,111850,26661,10.20,106,6530000000,109,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
11,12,Spain,9428,9330,123336,23964,13.08,115,4923000000,106,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,13,Iran,8896,8819,57470,19125,6.46,72,NaN,NaN,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,5386000000,231,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
14,15,Brazil,8668,8596,60702,14396,7.00,86,12149000000,59,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [18]:
filtered_joined_tab.set_index('Country', inplace=True)
filtered_joined_tab=filtered_joined_tab.loc[filtered_joined_tab['Rank']<=15]
filtered_joined_tab

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [19]:
#Step_4:
# The number of lost rows in joining is 264(rows of the GDP Table, the largest table) - 162(rows of the joined table) = 102

In [20]:
#Step_5:
#What is the average GDP over the last 10 years for each country?
tab_melted=pd.melt(saved_copy, id_vars=['Country','Rank', 'Documents', 'Citable documents', 'Citations', 
                                                'Self-citations', 'Citations per document', 'H index', 
                                                 'Energy Supply','Energy Supply per capita', '% Renewable'] ,
                                               var_name='Years',
                                               value_name='GDP_Value')
tab_melted

,Country,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,Years,GDP_Value
0,China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549,2006,3.992331e+12
1,United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.571,2006,1.479230e+13
2,Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328,2006,5.496542e+12
3,United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005,2006,2.419631e+12
4,Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887,2006,1.385793e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672,2015,2.049316e+12
146,Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686,2015,1.419821e+12
147,Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,2015,NaN
148,Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108,2015,1.301251e+12
149,Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.648,2015,2.319423e+12

In [21]:
tab_melted_mean= tab_melted.groupby('Country').mean()
tab_melted_mean= tab_melted_mean.iloc[: ,[7]]
tab_melted_mean=tab_melted_mean.rename(columns={'GDP_Value' : 'avgGDP'})
tab_melted_mean
#print(type(tab_melted_mean))

                          avgGDP
Country
Australia           1.164043e+12
Brazil              2.189794e+12
Canada              1.660647e+12
China               6.348609e+12
France              2.681725e+12
Germany             3.493025e+12
India               1.769297e+12
Iran                4.441558e+11
Italy               2.120175e+12
Japan               5.542208e+12
Russian Federation  1.565459e+12
South Korea         1.106715e+12
Spain               1.418078e+12
United Kingdom      2.487907e+12
United States       1.536434e+13

In [22]:
print(type(tab_melted_mean))

<class 'pandas.core.frame.DataFrame'>

In [23]:
my_series= pd.Series()
my_series=tab_melted_mean['avgGDP']
my_series
#print(type(my_series))

<ipython-input-23-19b69bbcf191>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  my_series= pd.Series()

Country
Australia             1.164043e+12
Brazil                2.189794e+12
Canada                1.660647e+12
China                 6.348609e+12
France                2.681725e+12
Germany               3.493025e+12
India                 1.769297e+12
Iran                  4.441558e+11
Italy                 2.120175e+12
Japan                 5.542208e+12
Russian Federation    1.565459e+12
South Korea           1.106715e+12
Spain                 1.418078e+12
United Kingdom        2.487907e+12
United States         1.536434e+13
Name: avgGDP, dtype: float64

In [24]:
my_series=tab_melted_mean.loc[:,'avgGDP']
my_series

Country
Australia             1.164043e+12
Brazil                2.189794e+12
Canada                1.660647e+12
China                 6.348609e+12
France                2.681725e+12
Germany               3.493025e+12
India                 1.769297e+12
Iran                  4.441558e+11
Italy                 2.120175e+12
Japan                 5.542208e+12
Russian Federation    1.565459e+12
South Korea           1.106715e+12
Spain                 1.418078e+12
United Kingdom        2.487907e+12
United States         1.536434e+13
Name: avgGDP, dtype: float64

In [25]:
my_series=my_series.sort_values(ascending=False)
my_series

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

In [26]:
#Step_6:
#What is the mean Energy Supply per Capita?
EG_Supp_mean_cap=tab_melted.loc[ : , 'Energy Supply per capita'].mean()
EG_Supp_mean_cap

160.35714285714286

In [27]:
filtered_joined_tab=filtered_joined_tab.reset_index()
filtered_joined_tab

,Country,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,China,1,127050,126767,597237,411683,4.70,138,127191000000,93,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,...,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,...,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
5,Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,...,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
6,Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,...,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
7,India,8,15005,14841,128763,37209,8.58,115,33195000000,26,...,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
8,France,9,13153,12973,130632,28601,9.93,114,10597000000,166,...,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
9,South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,...,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
11,Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,...,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
13,Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,...,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
14,Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [28]:
#Step_7:
#What country has the maximum % Renewable and what is the percentage?
max_perc_ren=filtered_joined_tab.loc[ : ,['% Renewable','Country'] ].max()
max_perc_ren

% Renewable           69.648
Country        United States
dtype: object

In [29]:
print(type(max_perc_ren))

<class 'pandas.core.series.Series'>

In [30]:
max_perc_ren_tuple= (max_perc_ren['% Renewable'], max_perc_ren['Country'])
max_perc_ren_tuple

(69.64803, 'United States')

In [31]:
#Step_8:
#Create a new column that is the ratio of Self-Citations to Total Citations.
#What is the maximum value for this new column, and what country has the highest ratio?
filtered_joined_tab['self_cit/tot_cit']=filtered_joined_tab['Self-citations']/filtered_joined_tab['Citations'] 
filtered_joined_tab['self_cit/tot_cit']

0     0.689313
1     0.335031
2     0.275997
3     0.183773
4     0.362517
5     0.190369
6     0.195111
7     0.288973
8     0.218943
9     0.197035
10    0.238364
11    0.194299
12    0.332782
13    0.171939
14    0.237159
Name: self_cit/tot_cit, dtype: float64

In [32]:
max_ratio=filtered_joined_tab.loc[ : , ['self_cit/tot_cit','Country']].max()
max_ratio
#print(type(max_ratio))

self_cit/tot_cit         0.689313
Country             United States
dtype: object

In [33]:
ratio_tuple= (max_ratio['Country'], max_ratio['self_cit/tot_cit'])
ratio_tuple

('United States', 0.6893126179389422)

In [34]:
#Step_9:
#Create a new column with a 1 if the country's % Renewable value is at or above
#the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.
ren_med=filtered_joined_tab['% Renewable'].median()
ren_med

17.15448

In [35]:
lst=[]
for perc_ren in filtered_joined_tab['% Renewable']:
    if perc_ren >= ren_med:
        lst.append('1')
    else:
        lst.append('0')
print(lst)
#print(len(lst))

['1', '0', '0', '0', '1', '1', '1', '0', '0', '0', '1', '1', '0', '0', '1']

In [36]:
filtered_joined_tab['HighRenew']=lst
filtered_joined_tab['HighRenew']

0     1
1     0
2     0
3     0
4     1
5     1
6     1
7     0
8     0
9     0
10    1
11    1
12    0
13    0
14    1
Name: HighRenew, dtype: object

In [37]:
filtered_joined_tab.loc[ : ,['% Renewable', 'HighRenew']].head(30)

   % Renewable HighRenew
0      19.7549         1
1       11.571         0
2      10.2328         0
3      10.6005         0
4      17.2887         1
5      61.9454         1
6      17.9015         1
7      14.9691         0
8      17.0203         0
9      2.27935         0
10     33.6672         1
11     37.9686         1
12         NaN         0
13     11.8108         0
14      69.648         1

In [38]:
filtered_joined_tab.set_index('Country', inplace=True)
highRenew_series= filtered_joined_tab.loc[ : ,'HighRenew']
highRenew_series

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: object

In [39]:
print(type(highRenew_series))

<class 'pandas.core.series.Series'>